
<html lang="">
<head>

     {% load static %}
     <title>Admin Panel</title>


     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <style>
     .nav-link{
          color:white !important;
          margin-right: 6px;
      }
      .nav-link:hover{
        color: yellow !important;
        font-weight: bold;
        background-color: red;
        border-radius: 10px;
    }
    .navbar-brand:hover{
        color:yellow !important;

    }
    .error{
        color: red;
    }

    }
    </style>

        <!--datatable start-->

        <script>
            $(document).ready(function() {
                $('#example').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5'
                    ]
                } );
            } );
        </script>

        <script src =" https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src ="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src =" https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
        <script src =" https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src =" https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src =" https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src =" https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

        <!--datatable end -->


</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'images/MUJ logo_High.png'%}" style="margin-left:-5px;width:330px; height:80px" alt="">
            </div>
        </div>
    </div>

<nav class="navbar-expand-sm" style="background-color: rgb(211,100,046)">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/adminhome" style="margin-left: 300px "><i class="fa fa-home mr-1"></i>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addjob"><i class="fa fa-plus-circle mr-1"></i>Add Job</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/jobaply"><i class="fa fa-list-ol mr-1"></i>Applied Candidates</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/joblist"><i class="fa fa-list-ol mr-1"></i>Job List</a>
        </li>





        <li class="nav-item">
            <a class="nav-link" href="/showuser"><i class="fa fa-user-o mr-1"></i>View Users</a>
             <div class="dropdown-menu">

            <a class="dropdown-item" href="{% url 'student_pending'%}">Pending</a>
            <a class="dropdown-item" href="#">Accepted</a>
            <a class="dropdown-item" href="#">Rejected</a>
            <a class="dropdown-item" href="{% url 'showuser'%}">All Users</a>

        </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/changepass"><i class="fa fa-cog mr-1"></i>Change Password</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'Logout'%}"> <i class="fa fa-sign-out mr-1"></i>Logout</a>
        </li>

    </ul>
</nav>

                  <script>
$(document).ready(function() {
    $('#bootstrapdatatable').DataTable({
      "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
        "iDisplayLength": 10
       }
    );
} );
</script>
    <script>
$(document).on('click', '#del-job', function () {
    var id = $(this).attr('data-id');
swal({
  title: "Are you sure?",
  text: "Are you sure, you want to delete this job",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
  $.ajax({
                url: "/deletejob",
                type: "get",
                data: {id: id},
                success: function (res) {
                    console.log(res);
                    window.location.reload();
                }
            });

  }
});
  });

         </script>

        <script>
$(document).on('click', '#deluser', function () {
    var id = $(this).attr('data-id');
swal({
  title: "Are you sure?",
  text: "Are you sure, you want to delete this User",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
  $.ajax({
                url: "/deleteuser",
                type: "get",
                data: {id: id},
                success: function (res) {
                    console.log(res);
                    window.location.reload();
                }
            });

  }
});
  });

         </script>


            <script>
$(document).on('click', '#del-aplcan', function () {
    var id = $(this).attr('data-id');
swal({
  title: "Are you sure?",
  text: "Are you sure, you want to delete this User",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
  $.ajax({
                url: "/deletejobcan",
                type: "get",
                data: {id: id},
                success: function (res) {
                    console.log(res);
                    window.location.reload();
                }
            });

  }
});
  });

         </script>

                <script>
 $(document).ready(function() {
$("#addjobss").validate({
rules: {
addjobtitle : {
required: true,
minlength: 3,
maximum:40,
},


weight: {
required: {
depends: function(elem) {
return $("#age").val() > 50
}
},
number: true,
min: 0
}
},
messages : {
      addjobtitle: {
        required: "Please Job titile",
      },
      addstartdate: {
        required: "Please enter startdate",
      },
      addenddate: {
        required: "Please enter enddate",
      },
      addsalary: {
        required: "Please enter salary",
      },
      addlogo: {
        required: "Please enter salary",
      },
      addexperience: {
        required: "Please enter salary",
      },
      addlocation: {
        required: "Please enter salary",
      },
      addskills: {
        required: "Please enter salary",
      },
      adddescription: {
        required: "Please enter salary",
      },
      adddeducation: {
        required: "Please enter salary",
      },
      adddjobtype: {
        required: "Please enter salary",
      },
      adddprice: {
        required: "Please enter salary",
      },

      }

});
});
</script>


                    <script>
 $(document).ready(function() {
$("#myjobsedit").validate({
rules: {
jorganization : {
required: true,
minlength: 3,
maximum:40,
},


weight: {
required: {
depends: function(elem) {
return $("#age").val() > 50
}
},
number: true,
min: 0
}
},
messages : {
      jorganization: {
        required: "Please Job organization",
      },

      }

});
});
</script>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
         <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/1.10.16/js/dataTables/bootstrap4.min.js"></script>








</body>

</html>
