{%  load static %}

{%   block body %}

{%   include 'admin/admin_navigation.html'%}
    <br><br>
<div class="jumbotron">
    <table class="table table-hover " id="bootstrapdatatable">
    <thead>
        <tr style="background-color:darkolivegreen; color : white">
            <th>Email</th>
            <th>First Name</th>
            <th>Last Nmae</th>
            <th>Action</th>
        </tr>

    </thead>

        <tbody>
            {% for i in allusers %}

            <tr style="background-color: #DEB887;">
                <td>{{i.email}}</td>
                <td>{{i.fname}}</td>
                <td>{{i.laname}}</td>


                <td>
<a id="deluser" data-id="{{ i.id }}" class="btn btn-danger btn-sm">Delete</a>
                </td>

            </tr>
            {% endfor %}

        </tbody>

</table>
</div>
{% endblock %}
