{%  load static %}

<html>
<head></head>
<body style="background-color:powderblue;">

<marquee style="font-family: 'Times New Roman', Times, serif; font-size:25; color:darkcyan; background-color:black; font-weight:bold; margin-top: 1%;">
    otp verification
</marquee>
<hr>


          {% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">
      ×
      </button>
      <strong style="background-color:green;">{{message}}<strong>
    </div>
 {% endfor %}
{% endif %}
<form class="container mt-5" action="/votp"  method="post"  style="justify-content: center;text-align: center;padding-top:130px;background-color:powderblue;" >
    {% csrf_token %}

    <input type="number" name="otp1" required style="width: 80%" placeholder="Enter otp"><br><br>


<input type="submit" value="Submit" class="btn btn-primary my-3" style="width: 200px;">

</form>
</body>
</html>


