{% load static %}

{% block body %}

{% include 'navigation.html'  %}


    <!--suppress ALL -->
    <marquee style="font-family:Trebuchet MS; font-size: 25px; color: white;background-color: orangered;margin-top:0.5%">
        Student Registration
    </marquee>


    <! DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    </head>
<style>

    html {
        height: 100%
    }

    p {
        color: grey
    }

    h1 {
        text-transform: uppercase;
        color: green;
        font-weight: normal;
        text-align: center;
    }

    #heading {
        text-transform: uppercase;
        color: rgb(211,100,046);
        font-weight: normal
    }

    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px
    }

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative
    }

    .form-card {
        text-align: left
    }

    #msform fieldset:not(:first-of-type) {
        display: none;
    }

    #msform input {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 15px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px;
        font-family: Trebuchet MS;
    }

    #msform textarea {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 15px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px;

    }

    #msform input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid green;
        outline-width: 0
    }

    #msform textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid green;
        outline-width: 0
    }

    #msform .action-button {
        width: 100px;
        background: rgb(211,100,046);
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right
    }

    #msform .action-button:hover {
        background-color: green;
    }

    #msform .action-button:focus {
        background-color: rgb(211,100,046);
    }

    #msform .action-button-pre {
        width: 100px;
        background: rgb(211,100,046);
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right
    }

    #msform .action-button-pre:hover {
        background-color: red;
    }

    #msform .action-button-pre:focus {
        background-color: #000000
    }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .fs-title {
        font-size: 20px;
        color: rgb(211,100,046);
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left;
        font-family: Trebuchet MS;
    }

    .purple-text {
        color: green;
        font-weight: normal
    }

    .steps {
        font-size: 15px;
        color: gray;
        margin-bottom: 1px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left;
        font-family: Trebuchet MS;
    }

    #progressbar {
        margin-bottom: 20px;
        overflow: hidden;
        color: lightgrey
    }

    #progressbar .active {
        color: rgb(211,100,046);
    }

    #progressbar li {
        list-style-type: none;
        font-size: 7px;
        width: 12%;
        float: left;
        position: relative;
        font-weight: 400
    }

    #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f13e"
    }

    #progressbar #personal:before {
        font-family: FontAwesome;
        content: "\f007"
    }
    #progressbar #address:before {
        font-family: FontAwesome;
        content: "\F007"
    }
    #progressbar #qualification:before {
        font-family: FontAwesome;
        content: "\f007"
    }
     #progressbar #workexperience:before {
        font-family: FontAwesome;
        content: "\f007"
    }

     #progressbar #criteria:before {
        font-family: FontAwesome;
        content: "\f007"
    }



    #progressbar #payment:before {
        font-family: FontAwesome;
        content: "\f030"
    }

    #progressbar #confirm:before {
        font-family: FontAwesome;
        content: "\f00c"
    }

    #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1
    }

    #progressbar li.active:before {
        background: green
    }

    #progressbar li.active:after {
        background: green
    }

    .progress {
        height: 20px
    }

    .pbar {
        background-color: rgb(211,100,046);
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }
</style>
<body>
       {% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">
      ×
      </button>
      <strong>{{message}}<strong>
    </div>
 {% endfor %}
{% endif %}
<div class="container-fluid" >
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-7 col-xl-6 col-xl-5 col-xl-4 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">

                <form id="msform12345"  method="post" enctype="multipart/form-data" action="{% url 'student_signup_save' %}">
                    {% csrf_token %}
                 <h2 id="heading"> Sign Up Form </h2>
                    <ul id="progressbar">
                        <li class="active" id="account"><strong> Account Information </strong></li>
                        <li id="personal"><strong> Personal Information </strong></li>
                        <li id="address"><strong>Address Details</strong></li>
                        <li id="qualification"><strong>Qualification Details</strong></li>
                        <li id="workexperience"><strong>Work Experience Details</strong></li>
                        <li id="criteria"><strong>Criteria Details</strong></li>
                        <li id="payment"><strong>Certificate/Documents Upload</strong></li>
{#                        <li id="confirm"><strong> Review </strong></li>#}
                    </ul>
                    <div class="progress">
                        <div class="pbar pbar-striped pbar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"> </div>
                    </div> <br>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title"> Account Information: </h2>
                                    <p> All Fields Required </p>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps"> Step 1 - 8 </h2>
                                </div>
                            </div>
                            <label class="fieldlabels"> Username: * </label> <input type="text" id="usern11" name="username" placeholder="UserName" maxlength="10" required onkeyup="isempty()" />
                            <label class="fieldlabels"> Email: * </label> <input type="email" id="emailn11" name="email" placeholder="Email Id" required onkeyup="isempty()" />
                            <label class="fieldlabels"> Contact No.: * </label> <input type="text" id="contactn11" name="contact" placeholder="Contact No." maxlength="10"  onkeyup="isempty()" />

                        </div> <input type="button" style="display: none"  id="nextbutt" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title"> Personal Information: </h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps"> Step 2 - 8 </h2>
                                </div>
                            </div> <label class="fieldlabels"> First Name: * </label> <input type="text" name="fname" id="fn1" placeholder="First Name" onkeyup="isempty1()" />
                            <label class="fieldlabels"> Last Name: * </label> <input type="text" name="lname" id="ln1" placeholder="Last Name" onkeyup="isempty1()" />
                            <label class="fieldlabels"> Middle Name: * </label> <input type="text" name="middlename" id="mn1" placeholder="Middle Name"  />
                            <label class="fieldlabels"> Father Name: * </label> <input type="text" name="father" id="fathn" placeholder="Father Name" onkeyup="isempty1()" />
                            <label class="fieldlabels"> Mother Name: * </label> <input type="text" name="mother" id="mothn" placeholder="Mother Name" onkeyup="isempty1()" />
                            <label class="fieldlabels"> Aadhar No.: * </label> <input type="text" name="aadhar" id="adrn" placeholder="Aadhar No." maxlength="12" minlength="12" onkeyup="isempty1()" />
                            <label class="fieldlabels"> Marital Status: * </label> <input type="text" id="mtrln" name="marital" onkeyup="isempty1()" />
                            <label class="fieldlabels"> Age: * </label> <input type="date" name="age" id="agen" onkeyup="isempty1()" />
                            <label > Gender: * </label>
                            <div style="border: 6px solid lightgrey;padding: 6px;border-radius: 6px">
                            <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" value="Male" name="gender" class="custom-control-input"/>
                                <label class="custom-control-label" for="customRadioInline1">Male</label>
                             </div>

                             <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" value="Female" name="gender" class="custom-control-input"/>
                                <label class="custom-control-label" for="customRadioInline2">Female</label>
                             </div>

                             <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline3" value="Others" name="gender" class="custom-control-input"/>
                                <label class="custom-control-label" for="customRadioInline3">Others</label>
                             </div>
                            </div>

                            <label class="fieldlabels"> Password</label> <input type="password" name="pwd11" id="pwdnn" placeholder="Password"  required onkeyup="isempty1()" />
                            <label class="fieldlabels"> Confirm Password</label> <input type="password" id="pwdcn" name="cpwd" placeholder="Confirm Password" required onkeyup="isempty1()" />

                        </div> <input type="button"  name="next"  id="next2n" class="next action-button" value="Next" /> <input type="button" name="pre"  class="pre action-button-pre" value="Pre" />
                    </fieldset>

                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title"> Address Details: </h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps"> Step 3 - 8 </h2>
                                </div>
                            </div> <label class="fieldlabels"> Address 1: * </label> <input type="text" id="ad1" name="address1" placeholder="Adresss" onkeyup="isempty2()" />
                            <label class="fieldlabels"> Address 2: * </label> <input type="text" id="ad2" name="address2" placeholder="Address" onkeyup="isempty2()" />
                            <label class="fieldlabels"> State: * </label> <input type="text" id="ad3" name="state" placeholder="State" onkeyup="isempty2()"/>
                            <label class="fieldlabels"> City: * </label> <input type="text" id="ad4" name="city" placeholder="City" onkeyup="isempty2()" />
                            <label class="fieldlabels"> District: * </label> <input type="text" id="ad5" name="district" placeholder="district" onkeyup="isempty2()" />
                            <label class="fieldlabels"> Pincode: * </label> <input type="text" name="pin" id="ad6" placeholder="Pincode" onkeyup="isempty2()"/>
                            <label class="fieldlabels"> Tehsil: * </label> <input type="text" id="ad7" name="tehsil" placeholder="Tehsil" onkeyup="isempty2()"/>
                            <label class="fieldlabels">Economically Weaker Section: * </label>
                            <input type="text" name="economically" id="ad8" placeholder="Economically" onkeyup="isempty2()" />

                            <div style="border: 6px solid lightgrey;padding: 4px;border-radius: 4px">
                             <h6> Nationality: * </h6>
                            <label class="radio-inline" >
                            <input type="radio" name="nationality" value="Nationality" > INDIAN
                            </label>
                            <label class="radio-inline" style="margin-left: 3%;">
                            <input type="radio" name="nationality" value="Others" > OTHERS
                            </label>
                            </div><br>
                            <div style="border: 6px solid lightgrey;padding: 4px;border-radius: 4px">
                            <h6> Caste: * </h6>
                            <label class="radio-inline">
                             <input type="radio" name="caste" value="General" > GENERAL
                            </label>
                            <label class="radio-inline" style="margin-left: 2%;">
                            <input type="radio" name="caste" value="Obc"> OBC
                            </label>
                            <label class="radio-inline" style="margin-left: 5%;">
                             <input type="radio" name="caste" value="Sc"> SC
                            </label>
                            <label class="radio-inline" style="margin-left: 8%;">
                            <input type="radio" name="caste" value="St"> ST
                            </label>
                            </div><br>
                            <div style="border: 6px solid lightgrey;padding: 4px;border-radius: 4px">
                            <h6 > Physically Handicap: *</h6>
                            <label class="radio-inline">
                            <input type="radio" name="physicallyhandicap" value="Yes"> YES
                            </label>
                            <label class="radio-inline" style="margin-left: 5%;">
                            <input type="radio" name="physicallyhandicap" value="No"> NO
                            </label>
                            </div><br>
                            <div style="border: 6px solid lightgrey;padding: 4px;border-radius: 4px">
                            <h6 > Quota: *</h6>
                            <label class="radio-inline">
                            <input type="radio" name="quota" value="sports" > SPORTS
                            </label>
                            <label class="radio-inline" style="margin-left: 2%;">
                            <input type="radio" name="quota" value="Ex Army" > EX ARMY
                            </label>
                            <label class="radio-inline" style="margin-left: 5%;">
                            <input type="radio" name="quota" value="Nc" > NCC
                            </label>
                            </div><br>
                            <div style="border: 6px solid lightgrey;padding: 4px;border-radius: 4px;">
                            <h6 > Minority: *</h6>
                            <label class="radio-inline">
                            <input type="radio" name="minority" value="minority" > MINORITY
                            </label>
                            <label class="radio-inline" style="margin-left: 3%;">
                            <input type="radio" name="minority" value="no-minority" > NON-MINORITY
                            </label>
                            </div>



                        </div> <input type="button"  name="next" id="next3n"  class="next action-button" value="Next" /> <input type="button" name="pre" class="pre action-button-pre" value="Pre" />
                    </fieldset>

                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title"> Qualification Details: </h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps"> Step 4 - 8 </h2>
                                </div>
                            </div><label class="fieldlabels">10th: *</label>
                            <input type="text" id="t1" name="tenth_sc" placeholder="Enter School/College" onkeyup="isempty3()"/>
                            <input type="text" id="t2" name="tenth_py" placeholder="Enter Year of Passing" onkeyup="isempty3()"/>
                            <input type="text" id="t3" name="tenth_bu" placeholder="Enter Board/University" onkeyup="isempty3()"/>
                            <input type="text" id="t4" name="tenth_tm" placeholder="Enter Total Marks" onkeyup="isempty3()"/>
                            <input type="text" id="t5" name="tenth_mo" placeholder="Enter Marks Obtain" onkeyup="isempty3()"/>
                            <input type="text" id="t6" name="tenth_pgc" placeholder="Enter Percentage/Grade/CGPA" onkeyup="isempty3()"/>


                            <label class="fieldlabels">12th: *</label>
                            <input type="text" id="t7" name="twelve_sc" placeholder="Enter School/College" onkeyup="isempty3()"/>
                            <input type="text" id="t8" name="twelve_py" placeholder="Enter Year of Passing" onkeyup="isempty3()"/>
                            <input type="text" id="t9" name="twelve_bu" placeholder="Enter Board/University" onkeyup="isempty3()"/>
                            <input type="text" id="t10" name="twelve_tm" placeholder="Enter Total Marks" onkeyup="isempty3()"/>
                            <input type="text" id="t11" name="twelve_mo" placeholder="Enter Marks Obtain" onkeyup="isempty3()"/>
                            <input type="text" id="t12" name="twelve_pgc" placeholder="Enter Percentage/Grade/CGPA" onkeyup="isempty3()"/>

                            <label class="fieldlabels">Graduation: *</label>
                            <input type="text" id="t13" name="graduation_sc" placeholder="Enter School/College" onkeyup="isempty3()"/>
                            <input type="text" id="t14" name="graduation_py" placeholder="Enter Year of Passing" onkeyup="isempty3()"/>
                            <input type="text" id="t15" name="graduation_bu" placeholder="Enter Board/University" onkeyup="isempty3()" />
                            <input type="text" id="t16" name="graduation_tm" placeholder="Enter Total Marks" onkeyup="isempty3()"/>
                            <input type="text" id="t17" name="graduation_mo" placeholder="Enter Marks Obtain" onkeyup="isempty3()"/>
                            <input type="text" id="t18" name="graduation_pgc" placeholder="Enter Percentage/Grade/CGPA" onkeyup="isempty3()"/>


                            <label class="fieldlabels">Postgraduation: *</label>
                            <input type="text" id="t19" name="postgraduation_sc" placeholder="Enter School/College" onkeyup="isempty3()"/>
                            <input type="text" id="t20" name="postgraduation_py" placeholder="Enter Year of Passing" onkeyup="isempty3()"/>
                            <input type="text" id="t21" name="postgraduation_bu" placeholder="Enter Board/University" onkeyup="isempty3()"/>
                            <input type="text" id="t22" name="postgraduation_tm" placeholder="Enter Total Marks" onkeyup="isempty3()"/>
                            <input type="text" id="t23" name="postgraduation_mo" placeholder="Enter Marks Obtain" onkeyup="isempty3()" />
                            <input type="text" id="t24" name="postgraduation_pgc" placeholder="Enter Percentage/Grade/CGPA" onkeyup="isempty3()"/>
                        </div> <input type="button" id="next4"  name="next" class="next action-button" value="Next" /> <input type="button" name="pre" class="pre action-button-pre" value="Pre" />
                    </fieldset>

                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title"> Work Experience Details: </h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps"> Step 5 - 8 </h2>
                                </div>
                            </div> <label class="fieldlabels"> Year: * </label> <input type="number" id="p1" name="year" placeholder="Enter Experience In Year" onkeyup="isempty4()"/>
                            <label class="fieldlabels"> Month: * </label> <input type="number" name="month" id="p2" placeholder="Enter Experience In Month" onkeyup="isempty4()"/>
                        </div> <input type="button" id="next5"  name="next"  class="next action-button" value="Next" /> <input type="button" name="pre" class="pre action-button-pre" value="Pre" />
                    </fieldset>

                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Criteria : </h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps"> Step 6 - 8 </h2>
                                </div>
                            </div> <label class="fieldlabels"> Designation: * </label> <input type="text" id="k1" name="designation" placeholder="Enter Designation" onkeyup="isempty5()"/>
                            <label class="fieldlabels"> Department: * </label> <input type="text" id="k2" name="department" placeholder="Enter Department" onkeyup="isempty5()"/>
                            <label class="fieldlabels"> Name of Organization: * </label> <input type="text" id="k3" name="organization" placeholder="Enter Organization " onkeyup="isempty5()"/>
                            <label class="fieldlabels"> Appointment: * </label> <input type="text" name="appointmen" id="k4" placeholder="Enter Appointment" onkeyup="isempty5()"/>
                        </div> <input type="button" id="next6" style="display: none"  name="next" class="next action-button" value="Next" /> <input type="button" name="pre" class="pre action-button-pre" value="Pre" />
                    </fieldset>



                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title"> Certificate/Documents Upload: </h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps"> Step 7 - 8 </h2>
                                </div>
                            </div> <label class="fieldlabels"> Upload Your Photo: </label> <input type="file" id="filesizecheck" name="profilepic" >
                             <label class="fieldlabels"> Upload Signature Photo: </label> <input type="file" name="signature" >

                        </div> <input type="button" id="subclear"   name="submit" class="submit action-button" value="Submit" /> <input type="submit" u name="submit" style="display: none;padding-left: 10px;padding-right: 30px" class="submit action-button" id="suredata" value="Are U sure?" /> <input type="button" u name="submit" style="display: none" class="submit action-button" id="backdata" value="Back" /> <input type="button" name="pre" id="preid" class="pre action-button-pre" value="Pre" />
                    </fieldset>
{#                    <fieldset>#}
{#                        <div class="form-card">#}
{#                            <div class="row">#}
{#                                <div class="col-7">#}
{#                                    <h2 class="fs-title"> Review: </h2>#}
{#                                </div>#}
{#                                <div class="col-5">#}
{#                                    <h2 class="steps"> Step 8 - 8 </h2>#}
{#                                </div>#}
{#                            </div> <br> <br>#}
{#                            <h2 class="purple-text text-center"><strong> SUCCESS ! </strong></h2> <br>#}
{#                            <div class="row justify-content-center">#}
{#                                <div class="col-3"> <img src="1.png" class="fit-image"> </div>#}
{#                            </div> <br><br>#}
{#                            <div class="row justify-content-center">#}
{#                                <div class="col-7 text-center">#}
{#                                    <h5 class="purple-text text-center"> You Have Successfully Signed Up </h5>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </fieldset>#}
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<script>

    $ (document).ready (function () {
        var current_fs, next_fs, pre_fs;
        var opacity;
        var current = 1;
        var steps = $ ("fieldset").length;
        setProgressBar (current);
        $ (".next").click (function () {
            current_fs = $ (this).parent ();
            next_fs = $ (this).parent ().next ();
            $ ("#progressbar li").eq ($ ("fieldset").index (next_fs)).addClass ("active");
            next_fs.show ();
            current_fs.animate ({opacity: 0}, {
                step: function (now) {
                    opacity = 1 - now;
                    current_fs.css ({
                                        'display': 'none',
                                        'position': 'relative'
                                    });
                    next_fs.css ({'opacity': opacity});
                },
                duration: 500
            });
            setProgressBar (++current);
        });
        $ (".pre").click (function () {
            current_fs = $ (this).parent ();
            pre_fs = $ (this).parent ().prev ();
            $ ("#progressbar li").eq ($ ("fieldset").index (current_fs)).removeClass ("active");
            pre_fs.show ();
            current_fs.animate ({opacity: 0}, {
                step: function (now) {
                    opacity = 1 - now;
                    current_fs.css ({
                                        'display': 'none',
                                        'position': 'relative'
                                    });
                    pre_fs.css ({'opacity': opacity});
                },
                duration: 500
            });
            setProgressBar (--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat (100 / steps) * curStep;
            percentpercent = percent.toFixed ();
            $ (".pbar")
                .css ("width", percent + "%")
        }

    });
</script>


<script>
    
    function isempty() {
        let usern = document.getElementById('usern11').value;
        let emailn = document.getElementById('emailn11').value;
        let contactn = document.getElementById('contactn11').value;

        if (usern.length > 0 && emailn.length > 0 && contactn.length > 0){

            document.getElementById("nextbutt").style.display = "block";
        }

    }
</script>

<script>

    function isempty1() {
        let fn = document.getElementById('fn1').value;
        let ln = document.getElementById('ln1').value;
        let fath = document.getElementById('fathn').value;
        let moth = document.getElementById('mothn').value;
        let adr = document.getElementById('adrn').value;
        let mtrl = document.getElementById('mtrln').value;
        let ag = document.getElementById('agen').value;
        let pwd = document.getElementById('pwdnn').value;
        let cpwd = document.getElementById('pwdcn').value;

        if (fn.length > 0 && ln.length > 0 && fath.length > 0 && moth.length > 0 && adr.length > 0 && mtrl.length > 0 && ag.length > 0 && pwd.length > 0 && cpwd.length > 0){

            document.getElementById("next2n").style.display = "block";
        }

    }
</script>

<script>

    function isempty2() {
        let ad1 = document.getElementById('ad1').value;
        let ad2 = document.getElementById('ad2').value;
        let ad3 = document.getElementById('ad3').value;
        let ad4 = document.getElementById('ad4').value;
        let ad5 = document.getElementById('ad5').value;
        let ad6 = document.getElementById('ad6').value;
        let ad7 = document.getElementById('ad7').value;
        let ad8 = document.getElementById('ad8').value;


        if (ad1.length > 0 && ad2.length > 0 && ad3.length > 0 && ad4.length > 0 && ad6.length > 0 && ad7.length > 0 && ad8.length > 0 && ad5>0){

            document.getElementById("next3n").style.display = "block";
        }

    }
</script>

<script>

    function isempty3() {
        let ad1 = document.getElementById('t1').value;
        let ad2 = document.getElementById('t2').value;
        let ad3 = document.getElementById('t3').value;
        let ad4 = document.getElementById('t4').value;
        let ad5 = document.getElementById('t5').value;
        let ad6 = document.getElementById('t6').value;
        let ad7 = document.getElementById('t7').value;
        let ad8 = document.getElementById('t8').value;
        let ad9 = document.getElementById('t9').value;
        let ad10 = document.getElementById('t10').value;
        let ad11 = document.getElementById('t11').value;
        let ad12 = document.getElementById('t12').value;
        let ad13 = document.getElementById('t13').value;
        let ad14 = document.getElementById('t14').value;
        let ad15 = document.getElementById('t15').value;
        let ad16 = document.getElementById('t16').value;
        let ad17 = document.getElementById('t17').value;
        let ad18 = document.getElementById('t18').value;
        let ad19 = document.getElementById('t19').value;
        let ad20 = document.getElementById('t20').value;
        let ad21 = document.getElementById('t21').value;
        let ad22 = document.getElementById('t22').value;
        let ad23 = document.getElementById('t23').value;
        let ad24 = document.getElementById('t24').value;



        if (ad1.length > 0 && ad2.length > 0 && ad3.length > 0 && ad4.length > 0 && ad5.length > 0 && ad6.length > 0 && ad7.length > 0 && ad8.length > 0 && ad9.length > 0 && ad10.length > 0 && ad11.length > 0 && ad12.length > 0 && ad13.length > 0 && ad14.length > 0 && ad15.length > 0 && ad16.length > 0 && ad17.length > 0 &&  ad18.length > 0 && ad19.length > 0 && ad20.length > 0 && ad21.length > 0 && ad22.length > 0 && ad23.length > 0 && ad24.length > 0){

            document.getElementById("next4").style.display = "block";
        }

    }
</script>


<script>

    function isempty4() {
        let ad1 = document.getElementById('p1').value;
        let ad2 = document.getElementById('p2').value;


        if (ad1.length > 0 && ad2.length > 0){

            document.getElementById("next5").style.display = "block";
        }

    }
</script>


<script>

    function isempty5() {
        let ad1 = document.getElementById('k1').value;
        let ad2 = document.getElementById('k2').value;
        let ad3 = document.getElementById('k3').value;
        let ad4 = document.getElementById('k4').value;


        if (ad1.length > 0 && ad2.length > 0 && ad3.length > 0 && ad4.length > 0){

            document.getElementById("next6").style.display = "block";
        }

    }
</script>

<script>
    $("#subclear").on("click",function(){

    $("#suredata").css("display","block")
    $("#backdata").css("display","block")
    $("#subclear").css("display","none")
    $("#preid").css("display","none")

});
</script>


<script>
    $("#backdata").on("click",function(){

    $("#suredata").css("display","none")
    $("#backdata").css("display","none")
    $("#subclear").css("display","block")
    $("#preid").css("display","block")

});
</script>


<script type="text/javascript">
  $(document).ready(function(){
    $('#filesizecheck').on('change',function(){
      for(var i=0; i< $(this).get(0).files.length; ++i){
        var file1 = $(this).get(0).files[i].size;
        if(file1){
          var file_size = $(this).get(0).files[i].size;
          if(file_size > 100000){
            $('#error-message').html("File upload size is larger than 2MB");
            $('#error-message').css("display","block");
            $('#error-message').css("color","red");
            alert("File size cannot be larger than 1MB");
          }else{
            $('#error-message').css("display","none");

          }
        }
      }
    });
  });
</script>




<script type="text/javascript">
$(document).ready(function(){
  $("#usern11").keyup(function(){
      if(this.value.length<10){
          alert("less than 10 ");
      }

  });
});
</script>

       <script type="text/javascript">
$(document).ready(function(){
  $("#emailn11").keyup(function(){
      if(this.value.length<10){
          alert("less than 10 ");
      }

  });
});
</script>

              <script type="text/javascript">
$(document).ready(function(){
  $("#contactn11").keyup(function(){

      if(this.value.length<10){
          alert("less than 10 ");
      }

      if(isNaN(this.value)){
          alert('please type only character')
      }



  });
});
</script>

       <script type="text/javascript">
$(document).ready(function(){
  $("#fn1").keyup(function(){
      if(this.value.length<10){
          alert("less than 10 ");
          $("#fn1").val(null);
      }

  });
});
</script>

       <script type="text/javascript">
$(document).ready(function(){
  $("#ln1").keyup(function(){
      if(this.value.length<10){
          alert("less than 10 ");
      }

  });
});
</script>


</body>
</html>

{% endblock %}
